.barra-superior {
    font-size: 1.5em;
    height: 65px;
    background-color: white;
}

.conteudo {
    margin-top: 70px;
    margin-bottom: 40px;
}

.autoria {
    font-size: smaller;
}

.link:hover {
    text-decoration: none;
}