@font-face {
  font-family: 'Circular-Std';
  src: url('./fontes/CircularStd.ttf');
}

* {
  font-family: 'Circular-Std', sans-serif;
}

body {
  background-color: #f7f9fc !important;
}

.texto-lg {
  font-size: 1.5em;
}

.texto-md {
  font-size: 1.2em;
}