@font-face {
  font-family: 'Circular-Std';
  src: url('./fontes/CircularStd.ttf');
}

* {
  font-family: 'Circular-Std', sans-serif;
}

body {
  background-color: #f7f9fc !important;
}

.titulo-cartao {
  font-size: 1.2em;
  font-weight: 700 !important;
}